@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --gray-blue: hsl(217, 19%, 38%);
  --dark-gray-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: var(--dark-blue);
  font-family: Manrope;
  font-weight: 800;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding-bottom: 50px;

  >div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    max-width: 295px;
    padding: 44px 32px 52px;
    border-radius: 15px;
    background-color: var(--dark-gray-blue);
    box-shadow: 0 4px 28px 0 rgba(0, 0, 0, .2);
  }
}

h1 {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .25em;
  color: var(--neon-green);
}

#advice {
  margin: 0;
  font-size: 28px;
  color: var(--light-cyan);

  &::before {
    content: "“";
  }

  &::after {
    content: "”";
  }
}

.divider {
  width: 100%;
  height: 16px;
  margin: 8px 0;
  background: url('images/pattern-divider-mobile.svg') center no-repeat;
}

#generate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  aspect-ratio: 1;
  margin: -30px auto 0;
  border: 0;
  border-radius: 99px;
  background: var(--neon-green);
  cursor: pointer;
  transition: all ease .2s;

  &:hover {
    box-shadow: 0 0 20px 0px var(--neon-green);
  }

  >img {
    width: 24px;
    height: 24px;
  }
}

@media (width >=500px) {
  main>div {
    max-width: 444px;
  }

  .divider {
    background-image: url('images/pattern-divider-desktop.svg');
  }
}